*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    margin:0px;
}

/* Header */

.header{
    display:flex;
    justify-content:space-between;
    color:#f9faf8;
    margin:0px;
    padding-top:20px;
    background-color: #1F2937;
    padding-right:20%;
    padding-left:20%;
}

.header-links{
 display:flex;
 gap:18px;
}

.header-navs{
text-decoration: none;
}

.header-logo{
    font-size:24px;
    font-weight:bold;
}

/* Hero Area */

.hero-area{
    display:flex;
    padding-top:50px;
    justify-content:space-around;
    align-items: center;
    gap:100px;
    padding: 50px 20%;
    background-color: #1F2937;
}

.hero-image{
    max-width:400px;
}

.text-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.hero-text{
    font-weight: 800;
    font-size:48px;
    color:#f9faf8;
    width:300px;
    text-align: left;
}

.hero-subtext,.header-navs{
    color: #e5e7eb;
    font-size:18px;
}

.hero-button{
    background-color: #3882f6;
    text-align:center;
    border-radius: 5px;
    color:white;
    padding:5px 15px;
    align-self:flex-start;
    font-weight: bold;
    border-style: none;
}

/* Carousel */

.carousel{
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    justify-content:space-evenly;
    padding:50px 20%;
    padding-bottom:100px;
}

.carousel-header{
    font-size:36px;
    font-weight: 800;
    color: #1F2937;
    padding:20px 0px;
}

.carousel-tiles{
    display:flex;
    gap:40px;
    row-gap: 20px;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: center;
}

.tile{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:20px;


}

.carousel-image{
    height: 150px;
    width:150px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid blue;
    padding:2px;
}

.carousel-text{
    inline-size: 150px;
    text-align: center;
}

/* Quotes Area */

.quote{
    display:flex;
    flex-direction:column;
    background-color: #e5e7eb;
    width:100%;
    box-sizing: border-box;
    padding:150px 20%;
    justify-content: center;
    align-items:center;
    gap:20px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    overflow-wrap:break-word;
}

.quote-author{
    align-self: flex-end;
    padding:0px 20px;
    font-size:18px;
    font-weight:800;
}

/* Banner Area */

.banner{
    width:80%;
    margin: 100px 10%;
    background-color: #3882f6;
    border-radius: 10px;
    box-sizing: border-box;
    padding:50px 10%;
    display:flex;
    justify-content: space-between;
    gap:60px
}

.banner-text{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    width:500px
}

.banner-title{
    font-weight: 800;
    font-size: 24px;
}

.banner-subtitle{
    font-weight:500;
    font-size:18px;
}

.banner-button{
    background-color: #3882f6;
    border: 2px solid white;
    border-radius:10px;
    padding:10px 40px;
    color:white;
    font-weight: 800;
    font-size:18px;
    align-self: center;
}

/* Footer */

.footer{
    color:#f9faf8;
    margin:0px;
    padding:25px 20px;
    background-color: #1F2937;
    text-align: center;
}